@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://db.onlinewebfonts.com/c/28d12f3a535c472cd0a39179aa1cd3ea?family=FoughtKnight+Regular");


/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.836),
        rgba(8, 216, 136, 0)
    ), url("../photo/19993920_6315777312554.webp");
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.logo h1 {
    font-size: 2rem;
    color: #333;
    font-family: FoughtKnight Regular;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    font-family:Poppins ;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    
}

.nav-links a:hover {
    
    

    border-bottom: 2px #ABAFB1 solid;
    border-top: 2px #ABAFB1 solid;
    border-right: 1.1px #ABAFB1 solid;
    border-left: 1.1px #ABAFB1 solid;
    background-color: #ABAFB1;
    
    color: white;

    border-radius: 10px;
    padding: 4px;
}

/* Menú móvil */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    border-top: 1px solid #ccc;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
}

.mobile-menu ul li {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.mobile-menu ul li a {
    color: #333;
    text-decoration: none;
    font-family: Poppins;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .menu-bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
}

/* Media queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.open {
        display: flex;
    }

    .info {
        flex-direction: column; /* Cambiamos a una columna en pantallas pequeñas */
        align-items: center; /* Alineamos los elementos al centro */
    }

    .text-container {
        margin-right: 0; /* Eliminamos el margen a la derecha */
        margin-bottom: 20px; /* Agregamos un margen inferior para separar del contenido */
    }

    .info img {
        max-width: 100%; /* La imagen ocupa todo el ancho disponible */
        height: auto; /* Mantiene la proporción */
    }
}

/* Estilos principales */
main {
    padding: 2rem;
    text-align: left;
    font-size: 120%;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.info{
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;

}

.info p{
    flex: 1;
    margin-right: 20px;
}

.info #caracteristicas{
    list-style-type : "- ";
    margin-left: 1.5rem;
    flex: 1;
}

.info #estudio{
    max-width: 400px;
    height: auto;
    margin-right: 15px;
}

.artistas{
    margin-top: 2rem;
    text-align: right;
}


/*carrusel*/
.carrusel {
    position: relative;
    max-width: 600px; /* Ajusta el tamaño del carrusel */
    margin: auto;
    margin-top: 4rem;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    width: 80px;
}

img {
    width: 100%; /* Las imágenes ocuparán todo el ancho del carrusel */
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/*contacto*/
.disponible{
    font-size: 1.25rem;
    margin-left: 2rem;
}

iframe {
    margin-left: 2rem;
    margin-top: 3.5rem;
}